.intervention-description, 
.intervention-instructions {
   font-family: 'Montserrat';
   margin: .5em auto 1em;
   padding: 0 1.5em;
   width: 90%; 
   color: rgb(125, 125, 125);
   font-weight: 700;
   font-size: 1.2em;
   line-height: 2em;
}
.intervention-instructions {
   margin-bottom: 2.5em;
}
.description {
   margin: 2em auto;
}
.center-text {
    text-align: center;
}
.uploadImage {
   width: 250px;
}
.inner-child-image {
   display: block;
   width: 300px;
   margin: 1.5em auto 35px;
   background-size: cover;
   background-repeat:no-repeat;
}
.new-line {
   margin: 2em 0 1em;
   display: block;
 }
 div.center-button {
     padding: 0 360px;
 }
 .center.spacing {
    margin: 2.5em auto
 }
 #intervention-title {
    padding: 55px 0 0em;
 }
 #intervention-instructions-title {
    padding: 1em 0 0em;
    font-size: 2em;
 } 