* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}
.main {
    margin: 0px auto 5em;
    width: 900px;
    text-align: left;
    background: linear-gradient(to bottom, rgba(8, 241, 191, .1) 10%,  rgba(8, 241, 191, .01) 90%);  
}
.text-center {
    text-align: left;
}
.center {
    margin: 0 auto;
}
body {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    font-size: 1.4em;
}
h1, h2, h3 {
    color: slategray;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    padding: 55px 0;
    margin: 10px 0 15px 0;
}
h1 {
    font-size: 90px;
    font-weight: 700;
    padding: 55px 0;
    text-align: center;
}
.homeMain {
    height: 2300px;
    width: 1920px;
    background: radial-gradient(circle at top,   white, rgba(37, 155, 223, .6) 40%,   rgb(2, 48, 75)70%,   rgb(2, 48, 75) 100%, rgba(37, 155, 223, .3)); 
    
}
.main-container {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset -4px -4px 30px rgba(0, 0, 0, 0.5);
    background: radial-gradient(ellipse at top left , white, rgba(37, 211, 223, 0.3),   rgba(37, 155, 223, 1) ,  rgb(2, 66, 75)80%, rgba(37, 201, 223, 0.3)); 
    border-radius: 2em;
    width: 80%;
    margin: 0 auto 0;
    padding: 1.5em 0 0;
    height: 2100px;
}
#anxiety-rating-welcome{
    font-size: 4.3em;
    font-weight: 800;
    color: rgba(27, 100, 143, 0.701);
    padding: 0em 0 .4em;
    text-align: center;
    margin: 50px 15px 0px;
}
.header {
    padding: 3em .2em;
    text-shadow: inset 2px 4px 8px rgba(255, 255, 255, 0.5);
    width: 70%;
    margin: 0 auto;
}
#divider {
    background-color: rgba(32, 93, 161, 1);
    width: 50%;
    margin: 0 auto 3em;
}
#anxiety-rate-container {
    width: 58%;
    min-height: 80em;
    padding: 0em 10em;
    margin: 0em auto;
    border-radius: 2em;
    background-color: rgba(1, 37, 83, 0.07);
}
#subhead {
    border: 10px rgb(0, 0, 0);
    border-radius: 25%;
    width: 90%; 
}
#anxiety-rating-scale {
    color: rgb(255, 255, 255, .8);
    padding: 1.8em .2em .02em;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 600;
}
#scale-subhead {
    color: rgba(59, 59, 59, 0.5);
    font-size: 1.5em;
    padding: .5em 0 1em;
    margin: 0em 0 1em;
    font-weight: 500;
}
#anxiety-rating-scale,
#scale-subhead {
    font-weight: 600;
}
#rating-button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 0em;
    background-image: linear-gradient(rgba(255, 255, 255, 0.603), rgba(0, 0, 0, 0.04));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}
#anxiety_score {
    font-size: 2.3em;
    font-weight: 400;
    padding: 0 1em;
    margin: 1em .3em 1em; 
    width: 2em;
    height: 2em;
    color: rgba(4, 76, 78, 0.87);
    /* background-image: linear-gradient(to bottom, rgb(219, 74, 17) 10%, rgba(4, 76, 78, 0.87) 60%);
    background-size: contain;
    background-position: center;
    background-attachment: fixed; 
    background-clip: text;
    text-fill-color: transparent;
    overflow: hidden;
    position: relative;
    clip: rect(0, auto, auto, 0) */
}
#anxiety_score > span {
    font-size: 1.1em;
    padding: 0 .5em 0;
}
#main-logo {
    width: 15%;
    margin: 0em 0 0em;
    padding: 0em 0;
    border-radius: 50%;
}
#description {
    width: 400px;
    height: 85px; 
    margin: 0 auto;
    margin-bottom: 70px;
    color: white;
    font-family: 'Sriracha', cursive;
    font-size: 1.5em;
}
.descriptionField #description {
    height: 45px; 
    margin: 20px auto 120px;
}
#submit-rating {
    margin-top: 10px;
}
.button-group {
    padding: 0;
    margin: 0;
}
.footer-buttons {
    margin: 100px 0;
    /* padding-top: 90px;  */
    height: 90px;
}
#entry {
    width: 750px;
    height: 350px;
    margin: 0 auto;
}
.prompt {
    margin: 65px 0;
}
Button.button > span {
    font-size: 1.5em;
}
#interventionId {
    color: white;
    font-size: 1.5em;
    padding: 1.8em 0;
    margin: 0em 1em;
}
#dropdown svg
{
    color: white;
}